.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  border: white solid 2px;
}
.turnSection {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-evenly;
}
.turn {
  font-size: 100px;
}
.active-x-turn {
  color: red;
}

.active-o-turn {
  color: blue;
}

.winner_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
