.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  border: white solid 2px;
}
.turnSection {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-evenly;
}
.turn {
  font-size: 100px;
}
.active-x-turn {
  color: red;
}

.active-o-turn {
  color: blue;
}
